.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #555;
  border-radius: 24px;
  padding: 16px;
  --outer-r: 24px;
  --p-distance: 12px;
  background: transparent;
}

.carousel-container.round {
  border: 1px solid #555;
}

.carousel-track {
  display: flex;
  transform-style: preserve-3d;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #555;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: rgba(13, 7, 22, 0.6);
  backdrop-filter: blur(10px);
  overflow: hidden;
  cursor: grab;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-item.round {
  background-color: rgba(13, 7, 22, 0.6);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.1em;
  border: 1px solid #555;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-icon-container {
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  font-size: 32px;
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: #060010;
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  font-family: 'Courier New', monospace;
}

.carousel-item-description {
  font-size: 14px;
  color: #fff;
  line-height: 1.5;
  margin: 0;
}

.carousel-item-list {
  margin: 8px 0 0;
  padding-left: 20px;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.carousel-item-list li {
  font-size: 14px;
  color: #e5e7eb;
  line-height: 1.5;
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: #fff;
}

.carousel-indicator.inactive {
  background-color: #555;
}
