.scramble-text {
  display: inline-block;
}

.scramble-text .scramble-char {
  display: inline-block;
  position: relative;
  will-change: contents;
}

.scramble-text .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

